################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeChallenge/obj
/TestForChallenge/bin
/TestForChallenge/obj
/CodeChallenge/bin/Debug
/.vs
